/* Ortak etiketlerin eklendiği yer */



.text-center{
    text-align:center;
}
.heading-small{
    font-size:1rem;

}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}
/* colors*/

.bg-dark-blue{
    background:#23453f;
}
.bg-light-blue{
    background: rgba(162, 210, 250, 0.829);

}
/* Button */

.btn{
    
    margin-top:0.25rem;
    padding: 0.4rem 2rem;  /* yukarı aşağı - yanlardan*/
    border-radius: 7px;
    letter-spacing:0.5px;
}

.btn-yellow{
    background-color:#F8B822;
}
.btn-primary:hover{
    color:#F8B829;
    background:white;
    border:0.5px solid #F8B829;
}
.btn-dark{
    background:#333;
}
.btn-dark:hover{

    color:#333;
    background:white;
    border:0.5px solid #333;
}

.form-group{
    padding:0.25rem 0;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size:1rem;
    resize:none;
    border-radius:5px;
}
 

/*container*/

.container{

    max-width: 1100px;
    margin:0 auto;
}


